<div>
    <canvas></canvas>
    <div class="mobileControls invisible">
        <div class="playerOne">
            <button class="upOne"></button>
            <button class="downOne"></button>
        </div>
        <div class="playerTwo">
            <button class="upTwo"></button>
            <button class="downTwo"></button>
        </div>
    </div>
    <div class="iniciarContainer">
        <h2>Pulsa espacio para iniciar o toca acá</h2>
        <button class="iniciar">Iniciar</button>
    </div>
    <div class="selectDevice">
        <p>¿En qué dispositivo estás jugando?</p>
        <button class="mobile">Celular</button>
        <button class="desktop">Computadora</button>
    </div>
    <div>
        <p>Select player</p>
        <button class="p1">Player 1</button>
        <button class="p2">Player 2</button>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/game.js"></script>